
:root
{
    --beige-color:rgb(245, 245, 220);
    --pink-color:rgb(234, 158, 141);
    --red-color:rgb(214, 69, 80);
    --black-color:rgb(28, 40, 38);
    --blue-color:rgb(53, 129, 184);
}

*
{
    box-sizing: border-box;
    margin: 0;
}

.Page
{
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--beige-color);
    height: 100dvh;
    width: 100dvw;  
}

.Column
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

.Column--Grow
{
    flex-grow:1;
}

.Column--NoGrow
{
    flex-grow: 0;
}

.Column--DirectionColumn
{
    flex-direction: column;
}

.Column--DirectionRow
{
    flex-direction: row;
}

.Column--Small
{
    width: 40%;
}

.Column--Border
{
    border: 3px solid black;
}

.Column--Big
{
    width: 60%;
}

.Column--Normal
{
    width:50%;
}

.Column--Wrap
{
    flex-wrap: wrap;
}

.Column--NoWrap
{
    flex-wrap: nowrap;
}

.TitleContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.TitleContainer__Title
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-size: 400%;
}

.TitleContainer__Subtitle
{
    font-size: 20px;
    font-size: 150%;
}

.VideoContainer
{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VideoContainer__Video
{
    --size:90%;
    width: var(--size);
    height: var(--size);
    object-fit: scale-down;
}

.Column__ClickableBox
{
    --height:33%;
    --width:100%;
    --margin-vertical:0.5dvh;
    --margin-horizontal: 0.5dvw;

    margin-top: var(--margin-vertical);
    margin-bottom: var(--margin-vertical);
    margin-left: var(--margin-horizontal);
    margin-right: var(--margin-horizontal);

    height: calc(var(--height) - 2*var(--margin-vertical));
    width: calc(var(--width) - 2*var(--margin-horizontal));

    box-sizing: border-box;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    
    transition: all 0.3s ease;
    font-size: 8dvw;
    text-decoration: none;
    background-color: var(--pink-color);
}

.Column__ClickableBox--NoLeftMargin
{
    margin-left: 0;
    width: calc(var(--width) - var(--margin-horizontal));
}

.Column__ClickableBox:hover
{
    background-color: var(--red-color);
}

.Text
{
    color: var(--black-color);
}

.Column__Text
{
    overflow-y: hidden;
}
