:root
{
    --PageHeight:90dvh;
}

body, html
{
    scroll-snap-type: y proximity;
}

html
{
    overflow-x: hidden;
}

*
{
    box-sizing: border-box;
    margin: 0;
}

a
{
    color: inherit;
    text-decoration:inherit;
}

body
{
    display: flex;
    flex-flow: column;
}

.Page
{
    scroll-snap-align: start;

    display: flex;
    flex-flow: row nowrap;

    width: 99dvw;
    height: var(--PageHeight);
}

.Column
{
    height: 100%;
    width: 50%;
}

.FlexColumn
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

li
{
    list-style-type: none;
    font-weight: bold;
}

li:not(:last-child)
{
    margin-bottom: 2dvh;
}

li>ul>li
{
    font-style: italic;
    font-weight: lighter;
}

.Accent
{
    background-color: orange;
    border: 2px solid black;
}

.Grey
{
    background-color: rgba(0,0,0,0.3);
}

.FlexGrid
{
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: space-around;
}

.SmallWidth
{
    width: 40%;
}

.BigWidth
{
    width: 60%;
}

.IndexBox
{
    --gap: 0.5%;
    background-color: rgba(0,0,0,0.3);
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease;

    font-size: 3.5vh;
    text-align: center;

    width: calc(50% - var(--gap));
    height: calc(100%/3 - var(--gap));
    padding: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 0;
}

.IndexBox:hover
{
    background-color: orange;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5dvh;
}

#Logo
{
    object-fit: scale-down;
    max-height: 30%;
}

#Footer
{
    box-sizing: border-box;
    height: calc(100dvh - var(--PageHeight));
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

#Bottom
{
    height: 10dvh;
    width: 100dvw;
}

#FirstPageVideo
{
    object-fit: scale-down;
    max-width: 90%;
}