
:root
{
    /*Paleta de colores*/
    --beige-color:#f8d7a4;
    --pink-color:#ec4c45;
    --red-color:#8a130e;
    --maroon-color:#78100c;
    --black-color:#3c342c;
    --golden-color:#8e5a0a;

    /*medidas útiles*/
    --page-height:90dvh;
}

*
{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: luminari, fantasy;
}

html
{
    overflow-x: hidden;
}

.Page
{
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--beige-color);
    height: var(--page-height);
    width: 100dvw;  
}

#Bottom
{
    height: calc(100dvh - var(--page-height));
}

#Footer
{
    height: calc(100dvh - var(--page-height));
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--black-color);
    z-index: 150;
}

#Footer > p
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Column
{
    height: 100%;
    width: 50%;

    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0;

    box-sizing: border-box;
    flex-direction: column;
}

.Column__IndexBox
{
    --height:33%;
    --width:100%;
    --margin-vertical:0.5dvh;
    --margin-horizontal: 0.5dvw;

    margin-top: var(--margin-vertical);
    margin-bottom: var(--margin-vertical);
    margin-left: var(--margin-horizontal);
    margin-right: var(--margin-horizontal);

    height: calc(var(--height) - 2*var(--margin-vertical));
    width: calc(var(--width) - 2*var(--margin-horizontal));

    box-sizing: border-box;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    border: 5px outset var(--black-color);
    
    transition: all 0.3s ease;
    font-size: 8dvw;
    text-decoration: none;
    background-color: var(--pink-color);
}

.Column__IndexBox--NoLeftMargin
{
    --width:100%;
    --margin-horizontal: 0.5dvw;
    margin-left: 0;
    width: calc(var(--width) - var(--margin-horizontal));
}

.Column__IndexBox:hover
{
    background-color: var(--red-color);
    color: var(--golden-color);
    border-color: var(--golden-color);
}

.Column__Text
{
    overflow-y: hidden;
}

.Column--Grow
{
    flex-grow:1;
}

.Column--DirectionRow
{
    flex-direction: row;
}

.Column--Bordered
{
    border: 3px solid black;
}

.Column--Small
{
    width: 40%;
}

.Column--Big
{
    width: 60%;
}

.Column--Wrap
{
    flex-wrap: wrap;
}


.Container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.Container__Title
{
    font-family: Arial, Helvetica, sans-serif;
    font-family: luminari, fantasy;
    color: var(--black-color);
    font-size: 50px;
    font-size: 600%;
}

.Container__Subtitle
{
    font-family: luminari, fantasy;
    font-size: 20px;
    font-size: 150%;
}

.Container__Video
{
    --size:90%;
    width: var(--size);
    height: var(--size);
    object-fit: scale-down;
}

.Container--Small
{
    height: 30%;
}

.Container--Big
{
    height: 70%;
}

.Text
{
    color: var(--black-color);
}