:root
{
    --PageHeight:90dvh;
}

body, html
{
    scroll-snap-type: y mandatory;
}

body
{
    overflow-x: hidden;
}

*
{
    box-sizing: border-box;
    margin: 0;
}

a
{
    color: inherit;
    text-decoration:inherit;
}

body
{
    display: flex;
    flex-flow: column;
}

.Page
{
    scroll-snap-align: start;

    display: flex;
    flex-flow: row nowrap;

    width: 100dvw;
    height: var(--PageHeight);
}

.Column
{
    height: 100%;
    width: 50%;
}

.FlexColumn
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

li
{
    list-style-type: none;
    font-weight: bold;
    font-size: min(20px, 2dvw, 2.5dvh);
}

li:not(:last-child)
{
    margin-bottom: 2dvh;
}

li>ul>li
{
    font-style: italic;
    font-weight: lighter;
}

.Accent
{
    background-color: orange;
    border: 2px solid black;
}

.Grey
{
    background-color: rgba(0,0,0,0.3);
}

.FlexGrid
{
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: space-around;
}

.SmallWidth
{
    width: 40%;
}

.BigWidth
{
    width: 60%;
}

.IndexBox
{
    --gap: 0.5%;
    background-color: rgba(0,0,0,0.3);
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease;

    font-size: 2dvw;
    text-align: center;

    width: calc(50% - var(--gap));
    height: calc(100%/3 - var(--gap));
    padding: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 0;
}

.IndexBox:hover
{
    background-color: orange;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(5dvh,5dvw);
}

#Logo
{
    object-fit: scale-down;
    max-height: 30%;
}

#Footer
{
    height: calc(100dvh - var(--PageHeight));
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#Bottom
{
    height: 10dvh;
    width: 100dvw;
}

#FirstPageVideo
{
    object-fit: scale-down;
    max-width: 90%;
}

.TextContainer
{
    padding:min(10%, 10dvh) min(5%, 5px);
}

.FooterLink
{
    height: 100%;
    flex-basis: 30%;
    flex-grow: 1;
}

.FooterContainer
{
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s ease;
}


.FooterText
{
    color: white;
}

.FooterImage
{
    height: calc(100dvh - var(--PageHeight) - 5dvh);
    object-fit: scale-down;
}

.FooterContainer:hover
{
    background-color: grey;
}

/*PANTALLA ORDENADOR*/
@media only screen and (min-width: 768px)
{
    .ImageGallery
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
    }

    .Dish
    {
        height: min-content;
        width: 33%;
        position: relative;
    }

    .DishFooter
    {
        text-align: center;
        display: block;
        position: absolute;
        bottom: 5%;
        width: 90%;
        left: 5%;
        background-color: rgba(255,255,255,0.6);
        color: black;
        font-size: min(20px, 2dvw, 2.5dvh);
        z-index: 0;
    }

    .Dish:hover .DishFooter
    {
        background-color: rgba(255,255,255,1);
    }

    .Dish:hover .Black
    {
        background-color: black;
        color: white;
    }

    .DishImage
    {
        /*object-fit: scale-down;*/
        width: 100%;
    }
}

/*PANTALLA TABLET*/
@media only screen and (max-width: 768px)
{
    .FlexGrid
    {
        display: flex;
        flex-flow: column nowrap;
    }

    .IndexBox
    {
        --gap: 0.5%;
        background-color: rgba(0,0,0,0.3);
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.3s ease;
    
        font-size: 3.5dvw;
        text-align: center;
    
        width: calc(100% - var(--gap));
        padding: 0;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .ImageGallery
    {
        display: flex;
        flex-flow: column wrap;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        justify-content: center;
    }

    .Dish
    {
        scroll-snap-align: center;
        display: inline-block;
        height: 50%;
        position: relative;
    }

    .DishImage
    {
        object-fit: scale-down;
        height: 100%;
        width: 100%;
        border: 1px solid black;
    }

    .DishFooter
    {
        text-align: center;
        display: block;
        position: absolute;
        bottom: 5%;
        width: 90%;
        left: 5%;
        background-color: rgba(255,255,255,0.6);
        color: black;
        font-size: min(20px, 2dvw, 2.5dvh);
        z-index: 0;
    }

    .li>ul>li
    {
        display: none;
    }
}

/*PANTALLA MÓVIL*/
@media only screen and (max-width: 600px)
{
    .SmallWidth
    {
        width: 100%;
    }

    .BigWidth
    {
        display: none;
    }

    li
    {
        font-size: max(2dvh, 3dvw);
    }

    .FooterText
    {
        display: none;
    }
}